.registercontainer {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.register{
  background-color: #fff;
  padding: 20px;
  width: 300px;
  margin: 60px auto;
  box-shadow: 0 0 3px #333;
}
.registerTitle {
  font-size: 30px;
  text-align: center;
  color: teal;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}



.registerInput {
  padding: 10px;
outline: none;
  border: none;
  border-bottom: 1px solid #333;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  width: 50%;
  padding: 14px;
  align-self: flex-end;
}

.Tologin{
  margin-top: 30px;
  display: flex;
   column-gap: 10px;
   flex-flow: row wrap;
 }
.Tologin p{
  font-size: 16px;
 }
.registerLoginButton {
  border: none;
 color:  tomato;
}