.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}
.wrapper{
  width:  300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 3px #333;

}

.loginTitle {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  color: #000;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  row-gap: 30px;
}


.loginInput {
  height: 30px;
  
  border: none;
  outline-style: none;
  border-bottom: 1px solid #333;
}

.loginButton {

  cursor: pointer;
 background: teal;
  border: none;
  color: white;
  
  padding: 15px 12px;
  align-self: flex-end;
  width: 40%;
}



.Toregister{
  margin-top: 30px;
  display: flex;
   column-gap: 10px;
   flex-flow: row wrap;
 }
.Toregister p{
  font-size: 16px;
 }
.loginRegisterButton {
  border: none;
 cursor: pointer;
   color: teal;

}
